h1 {
    font-family: Times New Roman;
    font-size: 2em;
    text-transform: uppercase;

    background: linear-gradient(to right, deepskyblue , lightblue);
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    transition: background 1.5s ease;  /* sanfter Übergang */
}

strong {
    font-weight: 700;

}

p {
    font-family: sans-serif;
}
.my-table {
    border: 1px solid black;

}
.my-table td, .my-table th {
    border: 1px solid black;
    padding: 5px;
}
