<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${course.courseName}">Title</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

<p><strong>Lehrer:</strong> <span> <a th:href="@{/person/{id}(id=${course.teacher.id})}"
                                     th:text="${course.teacher.name}"></a></span></p>
<p><strong>Kurs:</strong> <span th:text="${course.courseName}">Kursname</span></p>
<p><strong>Kurssbeschreibung:</strong> <span th:text="${course.courseDescription}">Datum</span></p>

<hr>

<h1 th:text="${course.courseName}">Kursname</h1>

<h2 th:text="${course.courseDescription}">Kuresbeschreibung</h2>
<p>Teilnehmer:</p>

<table border="1">
    <!-- Portabello -->
    <thead>
    <tr>
        <th>Student</th>
        <th>Email</th>
        <th>Aktion></th>
    </tr>
    </thead>
    <tr th:each="student : ${course.students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.email}"></td>
        <td>
            <form th:action="@{/edit-course/{courseID}/remove-student/{personId}(courseID=${course.courseID}, personId=${student.id})}"
                  method="post"
                  style="display:inline">
                <button type="submit">Entfernen</button>
            </form>
        </td>
    </tr>
</table>
<a href="/courses">Zurück</a>

</body>
</html>