<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Journal-Entries</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments :: nav"></div>
<h1>Ihre Kurse</h1>
<p>Ihre aktuellen Kurse:</p>

<table border="1">
    <!-- Portabello -->
    <thead>
    <tr>
        <th>Kurs</th>
        <th>Beschreibung</th>
        <th>Lehrer</th>
        <th>Aktion</th>
    </tr>
    </thead>
        <tr th:each="course : ${courses}">
            <td th:text="${course.courseName}">
            </td>
            <!-- Kursbeschreibung -->
            <td th:text="${course.courseDescription}">

            </td>
            <!-- Optional: Link mit course.id -->
            <td>
                <a th:href="@{/course/{id}(id=${course.courseID})}">Details</a>
            </td>
            <td> <a th:href="@{/edit-course/{id}(id=${course.courseID})}">Kurs Bearbeiten</a></td>
        </tr>
</table>
<a href="/">Zurück</a>
</body>
</html>