<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>LJA</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments :: nav"></div>
<h1>Füge Schüler hinzu, <span th:text="${person.name}"></span>!</h1>

<p><strong>Kursname:</strong> <span th:text="${course.courseName}"></span></p>
<p><strong>Kursbeschreibung:</strong> <span th:text="${course.courseDescription}"></span></p>

<form th:action="@{/edit-course/{id}(id=${course.courseID})}" method="post">
    <!-- Hidden field für die Kurs-ID -->
    <input type="hidden" name="courseId" th:value="${course.courseID}"/>
    <input type="hidden" name="courseName" th:value="${course.courseName}"/>
    <input type="hidden" name="courseDescription" th:value="${course.courseDescription}"/>

    <label for="students">Schüler auswählen:</label>
    <select name="students" multiple id="students">
        <option th:each="student : ${students}"
                th:value="${student.id}"
                th:text="${student.name}"
                th:selected="${course.students.contains(student)}"></option>
    </select>

    <button type="submit">Hinzufügen</button>
</form>
<h3>Aktuelle Schüler:</h3>
<table border="1">
    <!-- Tabellenform -->
    <thead>
    <tr>
        <th>Student</th>
        <th>Email</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tr th:each="student : ${course.students}">
    <td th:text="${student.name}"></td>
    <td th:text="${student.email}"></td>
        <td>
            <form th:action="@{/edit-course/{courseID}/remove-student/{personId}(courseID=${course.courseID}, personId=${student.id})}"
                  method="post"
                  style="display:inline">
                <button type="submit">Entfernen</button>
            </form>
        </td>

    </tr>
</table>
<a href="/courses">Zurück</a>
</body>
</html>