<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal-Entries</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments :: common_header('entries')"></div>
<h1>Letzte Beiträge</h1>
<p>Hier finden Sie die letzten Journal-Einträge:</p>

<table border="1">
    <!-- Portabello -->
    <thead>
    <tr>
        <th>Datum</th>
        <th>Titel</th>
        <th>Autor</th>
        <th>Status</th>
    </tr>
    </thead>
    <tr th:each="entry : ${entries}">
        <td th:text="${#temporals.format(entry.date, 'dd.MMMM.yyyy')}">Datum</td>
        <td><a th:href="|/entry/${entry.id}|"><strong th:text="${entry.title}">Title</strong></a></td>

        <td><a th:href="@{/person/{id}(id=${entry.author.id})}"
               th:text="${entry.author.name}">kein Autor</a></td>
        <td><span th:text="${entry.author.role}">keine Rolle</span></td>
    </tr>
</table>
<a href="/">Zurück</a>
</body>
</html>