<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal-Entries</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
</head>
<body>
<h1>Letzte Beiträge</h1>
<p>Hier finden Sie die letzten Journal-Einträge:</p>

<table border="1">
    <!-- Tabellenkopf -->
    <thead>
    <tr>
        <th>Datum</th>
        <th>Titel</th>
        <th>Autor</th>
    </tr>
    </thead>
    <tr th:each="entry : ${entries}">
        <td th:text="${#temporals.format(entry.date, 'dd.MMMM.yyyy')}">Datum</td>
        <td><a th:href="|/entry/${entry.id}|"><strong th:text="${entry.title}">Title</strong></a>
        </td>

        <td>
            <em>Autor: </em>
            <span th:text="${entry.author}">kein Autor</span>
        </td>
    </tr>
</table>
</body>
</html>