<div  th:fragment="common_header(activeParagraph)" xmlns:th="http://www.thymeleaf.org">
    <nav>
        <ul class="nav-list">
            <li class="nav-item-card nav-home">
                <a th:href="@{/}"
                   th:classappend="${activeParagraph == 'home'} ? ' active'"
                >Startseite</a>
            </li>
            <li class="nav-item-card nav-entries">
                <a th:href="@{/entries}"
                   th:classappend="${activeParagraph == 'entries'} ? ' active'"
                >Einträge einsehen</a>
            </li>
            <li class="nav-item-card nav-profile">
                <a th:href="@{/person}"
                   th:classappend="${activeParagraph == 'person'} ? ' active'"
                >Mein Profil</a>
            </li>
            <li class="nav-item-card">
                <a th:href="@{/logout}">Ausloggen</a>
            </li>
        </ul>
    </nav>
</div>
