<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Herzlich Willkommen bei LJA</title>

</head>
<body>
<h1>Herzlich Willkommen bei der Learning-Journal-App</h1>
<p>Geben Sie Ihre Nutzerdaten ein</p>
<form method="post" action="/logInPerson">
    <div>
        <label for="email">Geben Sie Ihre E-Mail ein:</label>
        <input type="email" name="email" id="email">
    </div>

    <div>
        <label for="password">Geben Sie ein Passwort ein:</label>
        <input type="password" name="password" id="password">
        </div>
    <div>
        <input type="submit" value="Anmelden" id="signInBtn">
        <p><a href="/register">Registrieren</a></p>
    </div>
</form>

</body>
</html>