<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>LJA</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
<div th:replace="fragments :: common_header('new-course')"></div>

<h1>Erstelle einen Kurs, <span th:text="${person.name}"></span>!</h1>

<form method="post" action="/new-course" id="courseForm">
    <div>
        <label for="courseName">Kursname:</label>
        <input type="text" name="courseName" id="courseName">
        <span id="course-error" style="color:red"></span>
        <label for="courseDescription">Kursbeschreibung:</label>
        <input type="text" name="courseDescription" id="courseDescription">
        <span id="description-error" style="color:red"></span>


    </div>
    <input type="submit" value="Kurs anlegen">
</form>
<a href="/">Zurück</a>
</body>
</html>