<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${person}">Title</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="fragments :: nav"></div>

<h1>
<!-- Wenn der Cookie den Wert "bestimmterWert" hat -->
<div th:if="${session == 'session-id'}">
    Willkommen auf Deinem Profil, <span th:text="${person.name}"></span>
    <p>Dies wird angezeigt, wenn der Cookie "meinCookie" den Wert "bestimmterWert" hat.</p>
</div>

<!-- Wenn der Cookie NICHT den Wert "bestimmterWert" hat -->
<div th:unless="${session == 'session-id'}">
    <p>Wilkommen auf dem Profil von </p>
</div>
</h1>


<p><strong>Name:</strong> <span th:text="${person.name}">Profilname</span></p>
<p><strong>Rolle:</strong> <span th:text="${person.role}">Status</span></p>
<h2>Meine Einträge</h2>
<table border="1">
    <!-- Tabellenkopf -->
    <thead>
    <tr>
        <th>Datum</th>
        <th>Titel</th>
    </tr>
    </thead>
    <tr th:each="entry : ${entries}">
        <td th:text="${#temporals.format(entry.date, 'dd.MMMM.yyyy')}">Datum</td>
        <td><a th:href="|/entry/${entry.id}|"><strong th:text="${entry.title}">Title</strong></a></td>
    </tr>
</table>

<h2>Meine Kurse</h2>
<table border="1">
    <!-- Portabello -->
    <thead>
    <tr>
        <th>Kurs</th>
        <th>Beschreibung</th>
        <th>Lehrer</th>
        <th>Aktion</th>
    </tr>
    </thead>
    <tr th:each="course : ${courses}">
        <td th:text="${course.courseName}">
        </td>
        <!-- Kursbeschreibung -->
        <td th:text="${course.courseDescription}">
        </td>
        <!-- Optional: Link mit course.id -->
        <td><a th:href="@{/person/{id}(id=${course.teacher.id})}"
               th:text="${course.teacher.name}"></a>
        </td>
        <td><a th:href="@{/edit-course/{id}(id=${course.courseID})}">Kurs Bearbeiten</a></td>
    </tr>
</table>
<a href="/">Zurück</a>

</body>
</html>