<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${entry.title}">Title</title>
    <link rel="icon" th:href="@{/img/favicon.ico}"/>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<p><strong>Autor:</strong> <span th:text="${entry.author.name}">Autorname</span></p>
<p><strong>Rolle:</strong> <span th:text="${entry.author.role}">Status</span></p>
<p><strong>Datum:</strong> <span th:text="${entry.date}">Datum</span></p>

<hr>

<h1 th:text="${entry.title}">Title</h1>

<p th:text="${entry.body}">Body</p>

<a href="/entries">Zurück</a>

</body>
</html>